epublib-core/bin/
epublib-core/bin/
epublib-tools/bin/
epublib-core/.classpath
epublib-core/.project
epublib-tools/.classpath
epublib-tools/.project
epublib-core/.settings
epublib-tools/.settings/
!/.idea/
*.iml
