<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width = 750">
    <link rel="stylesheet" type="text/css" href="../../../css/stylesheet.css" charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body id="intro">
    <div id="wrapper">
      <div id="header" onclick="javascript:window.location='/website/'">
        <h1>epublib</h1>
      </div>
      <div id="navigation">
        <ul>
          <li id="navi_intro">
            <a href="/website/">Intro</a>
          </li>
          <li id="navi_source">
            <a href="http://github.com//website">Source</a>
          </li>
          <li id="navi_tickets">
            <a href="http://.lighthouseapp.com/projects/TODO/tickets">Tickets</a>
          </li>
        </ul>
      </div>
      <div id="page_body">
        <div id="content">
          {{ content }}
                    
          <script type="text/javascript">var disqus_url = "http://.github.com/website/{{ post.url }}"; var disqus_title ="{{ post.title }}";</script>
          <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/website/embed.js"></script>
          <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
          <script type="text/javascript">
          //<![CDATA[
          (function() {
          		var links = document.getElementsByTagName('a');
          		var query = '?';
          		for(var i = 0; i < links.length; i++) {
          			if(links[i].href.indexOf('#disqus_thread') >= 0) {
          				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
          			}
          		}
          		document.write('<script type="text/javascript" src="http://disqus.com/forums/website/get_num_replies.js' + query + '"></' + 'script>');
          	})();
          //]]>
          </script>
          
        </div>
        <div id="sidebar">
          <div class="item">
            <!-- Download    -->
            <h4>Install Bundle</h4>
            <p>Coming soon</p>
          </div>
          <div class="item">
            <!-- Tickets   -->
            <h4><a href="http://.lighthouseapp.com/projects/TODO/tickets" id="tickets" name="tickets">Tickets</a></h4>
            <p>
              Found a bug?<br />
              Request a feature?
            </p>
          </div>
          <div class="item">
            <!-- Blog   -->
            <a href="../../../atom.xml" id="rss_feed" name="rss_feed">Blog Posts</a>
            <h4>Blog Posts</h4>
            <p>
              {% for post in site.posts %} 
                <span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}">{{ post.title }}</a><br>
              {% endfor %}
            </p>
          </div>
          <div class="item">
            <script type="text/javascript" src="http://disqus.com/forums/website/combination_widget.js?num_items=5&color=orange&default_tab=recent"></script>
          </div>
        </div>
      </div>
      <div id="footer">
        <p><a href="http://github.com//website/tree/gh-pages" title="'s website at gh-pages &mdash; GitHub">website source</a> | generated by <a href="http://github.com/mojombo/jekyll">jekyll</a> and <a href="http://drnic.github.com/jekyll_generator">jekyll_generator</a></p>
      </div>
    </div>
    <a href="http://github.com//website"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
  </body>
</html>
